html,
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

.padding {
    padding: 0.8rem;
}

.padding-top {
    padding: 0.8rem;
}

.padding-left {
    padding-left: 0.8rem;
}

.padding-right {
    padding-right: 0.8rem;
}

.padding-bottom {
    padding-bottom: 0.8rem;
}